# Base Configuration
APP_NAME="Forge Kanban"
APP_ENV=local
APP_KEY=SomeRandomStringWith32Characters
APP_DEBUG=true
APP_URL=http://localhost:8000

# Database Configuration
DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

# API and Client Config
VITE_API_BASE_URL=http://localhost:8000/api
